*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
body{
    /* e9f8ff */
    background-color: #f4f5f6;
}
/* header 부분 */
header{
    border-bottom: 2px solid #09005c;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
}
.header-bar-logo img{
    width: 200px;
}
.search-main{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.search-main input{
    width: 500px;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #09005c;
}
.btn-search{
    width: 50px;
    height: 30px;
    border: 2px solid #09005c;
    background-color: #09005c;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
    
}
.search{
    width: 200px;
}
.header-bar-icons{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bolder;
}
.header-bar-icons a:hover{
    color: #1c02ff;
}
.header-bar-icons li{
    padding: 8px 12px;
}
.header-toogleBtn{
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #09005c;
    display: none;
}
button{
    position: relative;
    top: 3.5px;
}
/* nav computer menu */
.nav-main{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #09005c;
}
.nav-board{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin: 0 auto;
}
.nav-board ul{
    display: flex;
    justify-content: space-around;
}
.nav-board ul li{
    list-style: none;
    font-weight: bolder;
    font-size: 15px;
}
.menu-list-board ul li a:hover{
    color:#1c02ff;
}
/* nav ipad menu */
nav{
    width: 100%;
    display: none;
}
.board{
    width: 50%;
    margin: 50px auto;
}
.board-upside{
    width: 100%;
}
.board-upside ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}
.board-upside li{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}
.board-upside li:hover{
    box-shadow: 2px 2px 2px 1px #000000;
}
.board-upside img{
    border-radius: 20px;
    width: 200px;
    height: 100px;
}
.image-list .image-area{
    height: 50%;
}
.image-list .comment-area{
    padding: 3px 3px;
    height: 50%;
    margin-top: 10px;
}
.image-list .comment-area p{
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px #5c5c5c;
}
.image-list .comment-area span{
    font-weight: bolder;
    font-size: 15px;
    color: #5c5c5c;
    text-shadow: 1px 1px #5c5c5c;
}
.board-downside{
    width: 100%;
    margin-top : 50px;
}
.board-downside img{
    border-radius: 20px;
    width: 200px;
    height: 100px;
}
.board-downside ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}
.board-downside li{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}
.board-downside li:hover{
    box-shadow: 2px 2px 2px 1px #000000;
}
.board-downside .image-list .image-area{
    height: 50%;
}
.board-downside .image-list .comment-area{
    padding: 3px 3px;
    height: 50%;
    margin-top: 10px;
}
.board-downside .image-list .comment-area p{
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px #5c5c5c;
}
.board-downside .image-list .comment-area span{
    font-weight: bolder;
    font-size: 15px;
    color: #5c5c5c;
    text-shadow: 1px 1px #5c5c5c;
}


.bodys{
    width: 100%;
    padding-top: 30px;

}
.write_line{
    width: 100%;
    border: 1px solid #5c5c5c;
}
.bodys_inside{
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    background-color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
}
.body_sub{
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 10px 10px 0 0;
}
.img_content,
.regists{
  position: relative;
  left: 80%;
  display: inline-block;
}

.img_srcs img{
    width: 1200px;
    height: 1200px;
    object-fit: cover;
}


.img_srcs{
    padding-top: 40px;
}
.button_lists{
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    list-style: none;
  
}
.button_lists li{
    display: inline-block;
    
    
}