*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
    font-family : 'Noto Sans KR', sans-serif;
}

/* header 부분 */
header{
    border-bottom: 2px solid #09005c;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
}
.header-bar-logo img{
    width: 200px;
}
.search-main{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.search-main input{
    width: 480px;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #09005c;
}
.btn-search{
    width: 50px;
    height: 30px;
    border: 2px solid #09005c;
    background-color: #09005c;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
    
}
.search{
    width: 200px;
}
.header-bar-icons{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bolder;
}
.header-bar-icons a:hover{
    color: #1c02ff;
}
.header-bar-icons li{
    padding: 8px 12px;
}
.header-toogleBtn{
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #09005c;
    display: none;
}
button{
    position: relative;
    top: 3.5px;
}
/* nav computer menu */
.nav-main{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #09005c;
}
.nav-board{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin: 0 auto;
}
.nav-board ul{
    display: flex;
    justify-content: space-around;
}
.nav-board ul li{
    list-style: none;
    font-weight: bolder;
    font-size: 15px;
}
.menu-list-board ul li a:hover{
    color:#1c02ff;
}
/* col2 */
.colbody{
    width: 100%;
    padding-top: 30px;
}
.col2{
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
}
.title{
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 10px 10px 0 0;
}
.line_s{
    width: 998px;
    border: 1px solid #c8c8c8;
}
.title_bars{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

}
.title_names{
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}
.view_title1{
    width: 80%;
    text-align: left;
    font-weight: bolder;
    font-size: 15px;
}
.view_title{
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
}
.view_title2{
    font-weight: bolder;
    font-size: 15px;
    text-align: right;
}
.view_content{
    width: 100%;
    height: 200px;
}
.content_view{
    width: 20%;
  
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}
.content_content{
    width: 80%;
    font-weight: bolder;
    font-size: 15px;
    text-align: left;
}
.ripple{
    width: 100%;
}
.ripple_writer_title{
    width: 100%;
}
.ripple_writer_title ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.writer_title1{
    width: 50%;
    font-weight: bolder;
    font-size: 15px;
}
.writer_title2{
    width: 40%;
    font-weight: bolder;
    font-size: 15px;
}
.writer_title3{
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
}
.ripple_form{
    width: 100%;
}
.ripple_box{
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
   
    height: 50px;
}
.ripple_box textarea{
    width: 998px;
    height: 30px;
}
.ripple_box3{
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
    text-align: right;
    height: 30px;
}
.ripple_box3 input{
   
    border-radius: 10px;
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-weight: bolder;
}
.view_button{
    
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
}
.view_button a{
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 10px;
    
  
}

.img_view img{
    width: 700px;
    height: 700px;
    object-fit: cover;
}

/* 게시글 view 부분 */




@media screen and (max-width: 1024px){
    /* header 부분 */
    .header-bar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        height: 50px;
    }
    .search-main{
        flex-direction: column;
        align-items: center;
        width: 400px;
        display: block;
        position: relative;
        left: 220px;
        bottom: 50px;
    }
    .btn-search{
        position: relative;
        left: 500px;
        top: -33px;
    }
    .header-bar-icons li{
     
        /* display: none; */
        position: relative;
        left: 800px;
        bottom: 115px;
    }
   
   
    /* nav computer 부분 */
    .nav-board{
        display: none;
    }
    /* nav 부분 */
    nav{
        display: block;
    }
    .board{
        width: 100%;
    }
    /* section 부분 */
    .slide{
        width: 100%;
        height: 1165px;
        margin-left: 0.5px;
    }
    .slide-images{
        height: 1100px;
        display: inline-block;
    }
    .slide-left{
        width: 100%;
        height: 50%;
    }
    .slide-right{
        margin-left: 5px;
        width: 100%;
    }
    .slide-right img{
        width: 98%
    }
    button{
        position: relative;
        top: 3px;
    }
}
